################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DemoWebAPIPrj/Areas/HelpPage/Views/Help
/DemoWebAPIPrj/bin
/DemoWebAPIPrj/fonts
/DemoWebAPIPrj/obj/Debug
/DemoWebAPIPrj/Scripts
/packages
